@media only screen and (max-device-width: 480px) {
    body {
        min-width: 100%;
    }

    /** Header */
    #sec-header {
        height: auto;
    }

    #spn-title {
        display: none;
    }

    #img-logo {
        width: 28px;
        height: 28px;
    }

    /** Panel: Left */
    #sec-panel-left {
        display: none;
    }

    /** Panel: Right */
    #sec-panel-right {
        min-width: 100%;
    }

    #div-filter {
        padding: 0 !important;
    }

    .div-btn-share#div-btn-share-mobile {
        display: initial; 
    }
}