#sec-panel-left {
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-fb-like {

    margin: 8px auto;

}

#div-title-main {
    font-size: 38px;
    line-height: 38px;
    height: 38px;
    box-sizing: border-box;
}

#div-results-main-wrapper {
    width: 100%;
    margin: 8px auto;
    background-color: #f7f7f7;
}

#div-results-main {
    width: 75%;
    max-width: 100%;
    margin: 12px auto;
}

.col-result {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.col-result-img {
    border: 2px solid;
    border-radius: 50%;
}

.col-result-name {
    font-size: 32px;

    line-height: 32px;
    height: 32px;
    box-sizing: border-box;
    
    margin-top: 4px;
}

.col-result-info {

    font-size: 22px;
    line-height: 22px;
    height: 22px;
    box-sizing: border-box;

    margin-top: 4px;

}

#div-btn-share {

    background-color: #4267B2;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

#div-btn-share:hover {

    background-color: #3b5b9b;

}

#div-btn-share.disabled {
    background-color: #677faf;
    cursor: default;
}