html {
    height: 100%;
}

body {
    padding: 0 !important;
    margin: 0 !important;

   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: auto;
    white-space: nowrap;

    height: 100%;
    min-width: 1280px;
    background-color: white;

    overflow: hidden;
}

.brdr {
    border: 1px solid red;
}

.brdb {
    border: 1px solid blue;
}

#tb-search, .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 #div-loading {
    position: absolute;

    padding: 0 !important;
    margin: 0 !important;

    left: 0px;
    max-width: 100%;
    max-height: 99%;
    z-index: 9999;

    background-color:rgba(255,255,255,0.9);
  }

  #div-loading {
      
    position: absolute;
    left: 0px;
    width: 150%;
    height: 99%;
    z-index: 9999;

    background-color:rgba(255,255,255,0.9);
  }

  #img-loading {
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
  }

 #div-main {
    padding: 0 !important;
    margin: 0 !important;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: stretch;
 }

.color-gold {
     border-color: #FFDF00;
     color: #FFDF00;
     font-weight: bold;
     font-size: 20px;
}

.color-silver {
    border-color: #808080;
    color: #808080;
    font-weight: bold;
    font-size: 20px;
}

.color-bronze {
    border-color: #cd7f32;
    color: #cd7f32;
    font-weight: bold;
    font-size: 20px;
}

.mark {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #d6e5ff;
}


.loader {
    border: 12px solid;
    border-radius: 50%;
    border-top: 12px solid white;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
  }

.loader-blue {
    border: 8px solid;
    border-color: #d6e5ff;
    border-top: 8px solid white;
    animation: spin 1s linear infinite;
}

.loader-gray {
    border: 8px solid;
    border-color: lightgray;
    border-top: 8px solid white;
    animation: spin 4s linear infinite;
}
  
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

