html {
    height: 100%;
}

body {
    padding: 0 !important;
    margin: 0 !important;

   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: auto;
    white-space: nowrap;

    height: 100%;
    min-width: 1280px;
    background-color: white;
}

.brdr {
    border: 1px solid red;
}

.brdb {
    border: 1px solid blue;
}

#tb-search, .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 #div-main {
    padding: 0 !important;
    margin: 0 !important;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: stretch;
 }

.color-gold {
     border-color: #FFDF00;
     color: #FFDF00;
     font-weight: bold;
     font-size: 20px;
}

.color-silver {
    border-color: #808080;
    color: #808080;
    font-weight: bold;
    font-size: 20px;
}

.color-bronze {
    border-color: #cd7f32;
    color: #cd7f32;
    font-weight: bold;
    font-size: 20px;
}